.back{
    width:100%;
    height:auto;
    background-color: white;
}
.image{
    width: 80%;
    margin-left: 10%;
    height:auto;
    filter: grayscale(90%);
    opacity: 0.4;
}
.imagen{
    margin-top: 19%;
    width:90%;
}

.imagecenter{
    composes:imagen;
    margin-top: 15%;
}
.tittle{
    composes:tittle from '../about/About.css';
    margin-bottom: 0px;
}
h3{
    padding: 0px;
    margin: 0px;
}
.center{
    margin-top: 40%;
}