
.btn_cotizar{
    border:solid 1px white;
    color:white;
    background-color: transparent;
    border-radius: 5px;
    padding:5px auto;
    font-size: 20px;
    width:15%;
    margin-left: 42.5%;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: 'Varela Round', sans-serif;
    transition: all 1s ease;
}

.btn_cotizar:hover{
    background-color: rgba(255,255,255,0.3);
    cursor:pointer;
    transform: scale(1.1);
}

@media(max-width: 430px) {
    .btn_cotizar {
        display: none;
    /*    width: 50%;
        margin-left: 25%;
        border:solid 1px #2f4154;
        background-color: #2f4154;
        margin-top: 80px;*/
    }
    
}