.back{
    background-image: url('../../assets/fondo7-01.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:auto;
    margin:0px;
}
.titulo{
    margin-top:0px;
    font-size: 30px;
    color:white;
    padding: 50px 0px 30px 90px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bolder;

}
.text{
    font-size: 20px;
    color:white;
    padding: 10px 90px;
    text-align: justify;
    font-family: 'Poiret One', cursive;

}
.btns{
    margin: 30px 0px ;
    width:20%;
    margin-left: 20%;
    background-color: transparent;
    border: solid 1px white;
    color:white;
    border-radius: 5px;
    font-family: 'Varela Round', sans-serif;
    transition: all .5s ease;
    transform: scale(1.1);
}
.btns:hover{
    background-color: rgba(255,255,255,0.3);
    cursor:pointer;
    transform: scale(1.3);

}
@media(max-width: 480px){
    .titulo{
        padding: 30px 0px;
        text-align: center;
        font-size: 25px;
    }
    .text{
        padding: 10px 10px;
        font-size: 18px;
    }
    .btns{
        width: 40%;
        margin-left: 30%;
        margin-top: 10px;
    }
}

