.svc{
    width:100%;
    height:350px;
    text-align: center;
    border-bottom: solid 1px #e5e5e5;
    padding:20px 10px;
    background-color: white;
}
.svcs{
    composes: svc;
    border-left: solid 1px #e5e5e5;
}
.sv{
    composes:svc;
    border-bottom: none;
    border-right: solid 1px #e5e5e5;
}
.svs{
    width:100%;
    height:auto;
    text-align: center;
    padding:25px 10px;
    background-color: white;
}
.service{
    width: 70%;
    margin-left: 15%;
    background-color: white;
    height:830px;
    overflow-x:hidden ;

}
.tittle{
    composes:tittle from '../info/Info.css';
    margin-bottom: 15px;
    margin-top: 20px;
    text-align: center;
    color:#979797;
    padding: 30px;
}
.name{
    color:#696969;
    font-family: 'Varela Round', sans-serif;
}
.description{
    color:#878787;
    font-family: 'Montserrat', sans-serif;

    font-size: 14px;
    font-weight: lighter;

}
.icon{
    width:50%;
    margin:0 auto;
}
.col{
    padding:0px;
}
@media(max-width: 780px){
    .service{
        height: auto;
    }
}
@media(max-width: 430px){
     .svcs{
        border-bottom: solid 1px #e5e5e5;
        border-right: transparent;
        border-left: transparent;
    }
    .sv, .svs{
        border-bottom: solid 1px #e5e5e5;
        border-right: transparent;
        border-left: transparent;
    }

}