.svc{
    background-color: white;
    height:auto;
    text-align: center;
    padding: 45px;
    border-bottom: solid 1px black;
}
.service{
    margin-top: 100px;
}
.tittle{
    composes:tittle from '../info/Info.css';
    margin-bottom: 15px;
    padding-top:0px;
    margin-top: 20px;
    text-align: center;
    color:#979797;
}
.icon{
    width:30%;
    margin:0 auto;
}
.col{
    padding:0px;
}