.svc{
    width:100%;
    height:350px;
    text-align: center;
    border-bottom: solid 1px #e5e5e5;
    padding:20px 10px;
    background-color: white;
}
.svcs{
    composes: svc;
    border-left: solid 1px #e5e5e5;
}
.sv{
    composes:svc;
    border-bottom: none;
    border-right: solid 1px #e5e5e5;
}
.svs{
    width:100%;
    height:auto;
    text-align: center;
    padding:25px 10px;
    background-color: white;
}
.service{
    margin-top: 100px;
    width: 70%;
    margin-left: 15%;
    background-color: white;
    height:820px;
}
.tittle{
    composes:tittle from '../info/Info.css';
    margin-bottom: 15px;
    margin-top: 20px;
    text-align: center;
    color:#979797;
    padding: 0px;
}
.icon{
    width:50%;
    margin:0 auto;
}
.col{
    padding:0px;
}
@media(max-width: 780px){
    .service{
        height: auto;
    }
}
@media(max-width: 430px){
     .svcs{
        border-bottom: solid 1px #e5e5e5;
        border-right: transparent;
        border-left: transparent;
    }
    .sv, .svs{
        border-bottom: solid 1px #e5e5e5;
        border-right: transparent;
        border-left: transparent;
    }

}