.portafolio{
    padding-bottom: 50px;
    background-color: #f0f0f0;
    width:100%;
    min-height:950px;
    overflow-x:hidden ;

}
.contenedor{
    width:90%;
    margin-left:5%;
}
.tittle{
    composes:tittle from '../info/Info.css';
    text-align: center;
    color:#979797;
    margin-bottom: 50px;
}
