.portafolio{

}
.tittle{
    composes:tittle from '../info/Info.css';
    text-align: center;
    color:#979797;
    margin-bottom: 50px;
}
.tarjeta{
    background-color: white;
    width:80%;
    height:auto;
    margin: 0 10%;
}
.tarjetados{
    background-color: white;
    width:100%;
    height:auto;
    margin-top: 70px;
}
.tarjetatres{
    composes: tarjeta ;
    margin-top: 70px;
}
.image{
    width:100%;
    height:auto;

}
.text{
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color:#979797;
    padding: 15px 0px;
}
