.tittle{
    color:white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 20%;
    font-size: 70px;
}

.text{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 35px;
    color:white;

}