.tittle{
    color:white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    text-align: center;
    padding-top: 17%;
    font-size: 70px;
    margin:0px
}

.text{
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 30px;
    color:white;

}