.back{
    width:100%;
    background-color:#2f4154;
    height:auto;
    margin-bottom: -20px;
}
.datos{
    font-size: 15px;
    text-align: center;
    color:white;
    font-family: 'Poiret One', cursive;
    padding-top: 3%;

}
.redes{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}




