/*@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');*/
/*@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');*/
/*@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Poiret+One|Quicksand|Varela+Round|Raleway');*/
@font-face {
    font-family: 'Quicksand';
    src: url('./Quicksand-Regular.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Poiret One';
    src: url('./PoiretOne-Regular.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Quicksand';
    src: url('./Quicksand-Regular.ttf');
    font-weight: bold;
}



html{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4rem;
    background-color: #1D1D1D;
}
html, body{
    height: 100%;
    margin-bottom: -20px;
}
a:visited{
    text-decoration: none;
    color:white;
}
@media(max-width: 350px){
    html, body{
        margin-right: -25px;
    }
}



