@import url('https://fonts.googleapis.com/css?family=Comfortaa|Quicksand|Raleway');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Poiret+One|Quicksand|Varela+Round|Montserrat');


html{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4rem;
    background-color: #1D1D1D;
}
html, body{
    height: 100%;
    margin-bottom: -20px;
}
a:visited{
    text-decoration: none;
    color:white;
}
@media(max-width: 350px){
    html, body{
        margin-right: -25px;
    }
}



