.nav{
    width: -moz-webkit-o-ms-100%;
    height: -moz-webkit-o-ms-50px;
}
.logo{
    font-size: 30px;
    color: -moz-webkit-o-ms-white;
    height:-moz-webkit-o-ms-100%;
    display: -moz-webkit-o-ms-flex;
    justify-content: -moz-webkit-o-ms-flex-start;
}
.col{
    padding: 0px;
    margin:0px;
}
.pestanas{
    font-size: 20px;
    padding: 10px 0px;
}

.remove{
    display:block;
}

.link{
    color:white;
    font-family: 'Poiret One', cursive;
    text-align: center;
    transition: all 1s ease;
}

.link:hover{
    /*background-color: rgba(255,255,255,0.3);*/
    border:solid 1px white;
}

 a:hover{
    color:white;
     text-decoration: none;
}
.menu{
    color:white;
    display: none;
    font-family: 'Poiret One', cursive;
    cursor: pointer;


}
@media(max-width:1000px){
    .menu{
        display: flex;
        justify-content: flex-end;
        font-size: 20px;
        padding: 10px 20px 10px 10px;
        width: 50%;

    }
    .menu i{
        margin:5px;
    }
    .remove{
        display: none;

    }
    .link:hover{
        background-color: rgba(255,255,255,0.3);

    }
    .link{
        border-bottom:solid 1px white;
    }
}

