.nav{
    width:100%;
}
.logo{
    font-size: 30px;
    color:white;
}
.pestanas{
    display: flex;
    justify-content:flex-end;
    font-size: 20px;
    padding: 10px 0px;

}
.link{
    margin:0px 40px;
    color:white;
    font-family: 'Poiret One', cursive;
}
